@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:ital,wght@1,300&family=Rubik+Scribble&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
    height: 100vh;
    /* overflow-y: hidden; */
}

.side_bar{
    height: 100vh;
    width: 20%;
 /* background-color: blueviolet; */
}

.side_menu{
  padding: 10px;
}
.items{
    padding: 20px;
    font-size:1.2rem;
    
}
.items h2{
    /* font-family: Great Vibes; */
}

.fa-solid{
    margin-right: 10px;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;

}
.img img{
    /* object-fit: contain; */
    border-radius: 100%;
    border: 1px solid yellow;
    height: 70px;
    width: 70px;
}


.post_stories{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.post_section{
    width: 60%;
}
.suggestion{
    width: 20%;
}
.instagram{
    display: flex;

}